[Unit]
Description=Gunicorn daemon para VentasSys
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
User=ubuntu
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/var/www/ventas
Environment="PATH=/var/www/ventas/.venv/bin"
ExecStart=/var/www/ventas/.venv/bin/gunicorn \
          --workers 3 \
          --timeout 300 \
          --bind unix:/run/gunicorn/gunicorn.sock \
          --log-level info \
          --access-logfile /var/log/gunicorn/access.log \
          --error-logfile /var/log/gunicorn/error.log \
          VentasSys.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
